@import url("./Global.css");

.searchBar {
  width: 80%;
  top: 0;
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  outline: 0;
  background: var(--search-bar);
  padding: 2% 5%;
  border-radius: 2%;
  box-shadow: 0.05rem 0.05rem 0.2rem var(--shadow);
}

.searchBar .container {
  position: absolute;
  background-color: var(--search-result-container);
  box-shadow: 0rem 0rem 0.2rem var(--shadow);
  max-height: 15rem;
  width: 25rem;
  overflow-y: auto;
  z-index: 999;
}

.searchBar ul {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
}

.searchBar ul li {
  list-style-type: none;
  padding-top: 2%;
  padding-right: 2%;
  color: var(--p-color);
  font-weight: bold;
  cursor: pointer;
}

.searchBar ul li:hover {
  color: var(--p-color-hover);
  background-color: var(--search-bar);
}

.searchBar .container::-webkit-scrollbar {
  width: 0.5rem;
}

.searchBar .container::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

.searchBar .container::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 0.2rem;
}

.searchBar .container::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}
