#card_table {
  background-color: #cbb477;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.card {
  background-color: #a1dfd1;
  border-radius: 0.5rem;
  padding: 1rem;
}