@import url('../styles/Global.css');
/* #page {
  background-color: var(--bg-color);
} */
#title {
  text-align: center;
}
#card_table {
  /* background-color: var(--table-bg-color); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-column-gap: 8px;
  padding: 1rem;
}
.card {
  text-align: center;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 8rem;
  padding: 0.5rem;
  
  /* overflow: auto; */
  font-size: 5px; 
  font-family: Arial, sans-serif;
}
#backBoard {
  /* background-color: #fff;  */
  /* border: 1px solid #000;  */
  border-radius: 10px; 
  box-shadow: 3px 3px 5px #888; 
  padding: 20px; 
  width: auto;
  height: auto;
}

.info {
  /* TODO: make pop up info float ouside card or a separate pop up menu instead of inside card */
  display: none;
}
.card:hover .info {
  display: block;
  background-color: var(--menu-bg-color);
}
.target {
  background-color: var(--target-course-bg-color);
}
.prereq {
  background-color: var(--prereq-course-bg-color);
}