#editor {
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 5%;
  margin-right: 5%;
}

#picker-header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#picker-header #selectedTitle {
  text-align: center;
}

