:root {
  --bg-color: #ffffff;
  --table-bg-color: #ffffff;
  --card-bg-color: #6eb899;
  --menu-bg-color: #b89b6e;
  --target-course-bg-color: #58fff9;
  --prereq-course-bg-color: #f3ff50;
}

.header{
  background-color: maroon;
  color:gold;
  height:9vh;
  width:100%;
  padding:0px;
  margin-top:0px;

}

.title{
  text-align:center;

}