@import url("./Fonts.css");

:root {
  /* ---------------------------- New set of global color and variables ---------------------------- */
  /* Colors */
  --uomn-red: #8c001f;
  --maroon-red: #800000;
  --uomn-dark-red: #610014;
  --uomn-yellow: #ffde7a;

  --hightlight-yellow: #ffcc33;
  --hightlight-purple: #8b80f9;

  --bright-yellow: #ffde7a;
  --bright-purple: #b8baff;
  --bright-pink: #ff7ac2;
  --bright-blue: #7fedfc;
  --bright-green: #a6ff97;

  --light-gray: #f5f5f5;
  --uom-gray: #f9f7f6;
  --mild-gray-1: #d4d2d3;
  --mild-gray-2: #d9d9d9;
  --mild-gray-3: #d2d0d0;
  --dark-gray: #3b413c;

  /* Color variables */
  --header-bar: var(--mild-gray-2);
  --header-text: black;
  --header-block-hover: white;

  --footer-club-text: var(--mild-gray-1);
  --footer-github-text: var(--hightlight-purple);

  --border: var(--dark-gray);

  --info-box: white;
  --graph-box: var(--mild-gray-2);
  --warning: var(--uomn-red);

  --search-bar: var(--mild-gray-3);
  --search-result-container: var(--light-gray);
  --scroll-track: var(--mild-gray-2);
  --scroll-thumb: var(--dark-gray);
  --scroll-thumb-hover: white;

  --title: var(--maroon-red);
  --p-color: black;
  --p-color-hover: var(--maroon-red);
  
  /* ---------------------------- OLD Global color variables ---------------------------- */
  --bg-color: #eeeeee;
  
  --shadow: #00000066;

  /* --title: #464646; */
  --title-p: #800000;

  --header-nav-highlight: #000000;

  --footer-p-color: maroon;
  --footer-nav-highlight: #e08978;

  --table-bg-color: #ffffff;
  --card-bg-color: #6eb899;
  --menu-bg-color: #b86e6e;
  --target-course-bg-color: #58fff9;
  --prereq-course-bg-color: #ff7a7a;
}

body {
  /* Global fonts */
  font-family: "Inter", "Inria Sans", sans-serif;
}
