:root{
    background: linear-gradient(180deg,#d9cece,rgb(154, 87, 87));
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
    padding:40px;
}

.GraphSearch{
    text-align:center;
}