:root{
    background: linear-gradient(180deg,#ffffff,rgb(218, 178, 178));
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
    padding:40px;
}

.GraphSearch{
    text-align:center;
}