.header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 30px;
    color: rgb(224, 137, 120);
    padding-left: 0px;
}

.header img{
    overflow: hidden;
}

.header nav ul{
    margin-left: 200px;
    list-style: none;
    width: 50%;
    text-align: right;
    padding-right: 45px;

}

.header nav ul li{
    display: inline-block;
    margin: 20px 20px;
    font-size:19px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.header nav ul li a{
    color:rgb(224, 137, 120);
}


.header nav ul li:hover{
    background-color: maroon;
    transition:.5s;
}

.layout-footer{
    margin-top:600px;
    /* border-top-style: solid; */
    border-top-width: slim;
    bottom:0;
    color:rgb(224, 137, 120);
    text-align: center;
    padding:25px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.title{
    color:#ffffff;
    font-size: 20px;
}

.layout-footer button{
    margin-bottom: 15px;

}

.hyperlink{
    margin-top:15px;
}