#editor {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 5%;
  margin-right: 5%;
}

#picker {
  box-shadow: 0rem 0rem 0.2rem var(--shadow);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

#picker-header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#picker-header #selectedTitle {
  text-align: center;
}

#resultGraph {
  margin-right: 2%;
  box-shadow: 0rem 0rem 0.2rem var(--shadow);
  padding: 3%;
}
